body {
    background-color : #000E0F;
    color : #000E0F;
    }
    table, tr, td, th {
    border : #000E0F solid 2px;
    border-collapse : collapse;
    padding : 2px;
    }
    a:link {
    color : #1bdbe9;
    }
    a:visited {
    color : #4c0c9f;
    }
    body {
    background-color : white;
    }